@model WebApp.Areas.Admin.Models.AdminViewModel;

<div class="contentSticky">
	<div class="table-sticky Content_cScroll" style="height:63vh">
		<table class="table table-bordered table-striped table-hover">
			<thead>
				<tr class="sticky">
					<th>SL</th>
					<th>Name</th>
					<th>Code</th>
					<th>IsActive</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				@{
					int i = 1;
				}
				@foreach (var country in Model.LocationTreeList)
				{
					<tr>
						<td class="text-center">@i</td>
						<td>@country.Name</td>
						<td>@country.Code</td>
						<td class="text-center" style="color:@(country.IsActive ? "green" : "red")">
							@country.IsActive
						</td>
						<td class="text-center"><button class="btn btn-sm btn-primary" onclick="GetHdrPView(@country.ID)">View</button></td>
					</tr>
					i++;
				}
			</tbody>
		</table>
	</div>
</div>