@model WebApp.Areas.Admin.Models.AdminViewModel;
@{
    ViewData["Title"] = "SubChildCat";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h5 class="PgTitle">Sub Child Category (Brand):</h5>
<h5 class="alert-success">@ViewBag.Success</h5>
<h5 class="alert-danger">@ViewBag.Error</h5>
<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body" id="HdrPView">
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body" id="DetPView">
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
		   document.addEventListener('DOMContentLoaded',function(){
			   GetHdrPView();
		   })
		function GetHdrPView(ID) {
			Swal.fire({
				position: "center",
				html: '<i class="fa fa-spinner fa-spin" style="font-size: 2em;margin-top: 0.8em"></i><br><br>',
				showConfirmButton: false,
				allowOutsideClick: false,
				allowEscapeKey: false,
			});
			$.ajax({
				url: '@Url.Action("GetSubChildCatHdrPView", "Library")',
				type: 'GET',
				data: { ID: ID },
				success: function (html) {
					 $("#HdrPView").html("");
					 $("#HdrPView").html(html);
					 GetDetPView();
				},
				error: function (error) {
					if (error.status === 401) location.href = '/SPanel1325/Login';
					console.log("Error Get Sub Child Cat Hdr PView");
					Swal.close();
				}
			});
		}
		function GetDetPView() {
			Swal.fire({
				position: "center",
				html: '<i class="fa fa-spinner fa-spin" style="font-size: 2em;margin-top: 0.8em"></i><br><br>',
				showConfirmButton: false,
				allowOutsideClick: false,
				allowEscapeKey: false,
			});
			$.ajax({
				url: '@Url.Action("GetSubChildCatDetPView", "Library")',
				type: 'GET',
				success: function (html) {
					 $("#DetPView").html("");
					 $("#DetPView").html(html);
					 Swal.close();
				},
				error: function (error) {
					if (error.status === 401) location.href = '/SPanel1325/Login';
					console.log("Error Get Sub Child Cat det PView");
					Swal.close();
				}
			});
		}
		function LibrarySetUpdate() {
			var ImageFile = $("#Photo")[0].files[0];
			var formData = new FormData();
			if (ImageFile) {
				formData.append("ImageFile", ImageFile);
			}
			var otherData = $('#LibrarySetUpdateForm').serializeArray();
			$.each(otherData, function (index, item) {
				formData.append(item.name, item.value);
			});
			var IsRequired = CheckRequiredField();
			if (IsRequired == "NO") {
				Swal.fire({
					position: "center",
					html: '<i class="fa fa-spinner fa-spin" style="font-size: 2em;margin-top: 0.8em"></i><br><br>',
					showConfirmButton: false,
					allowOutsideClick: false,
					allowEscapeKey: false,
				});
				$.ajax({
					url: '@Url.Action("LibrarySetUpdate", "Library")',
					type: 'POST',
					data: formData,
					contentType: false, // Important for FormData
					processData: false, // Important for FormData
					success: function (result) {
						Swal.close();
						if (result == 0) {
							Swal.fire({
								position: "center",
								icon: "error",
								title: "Library Not Inserted successfully.",
								showConfirmButton: false,
								timer: 2000
							});
						}else if(result ==-1){
							Swal.fire({
								position: "center",
								icon: "error",
								title: "This item name already exists in the database.",
								showConfirmButton: false,
								timer: 2000
							});
						}
						else {
							Swal.fire({
								position: "center",
								icon: "success",
								title: "Library Inserted successfully!",
								showConfirmButton: false,
								timer: 2000
							});
							setTimeout(function () {
								GetDetPView();
								GetHdrPView();
							}, 2000)
						}
					},
					error: function (error) {
					    if (error.status === 401) location.href = '/SPanel1325/Login';
						console.log(error);
						Swal.close();
					}
				});
			}
		}
		function CheckRequiredField() {
			var ItemName = document.getElementById("ItemName");
			var ItemCode = document.getElementById("ItemCode");
			var Description = document.getElementById("Description");
			var CategoryId = document.getElementById("CategoryId");
			var SubCatId = document.getElementById("SubCatId")
			if (ItemName.value == "" || ItemCode.value == "" || Description.value == ""||CategoryId.value ==""|| SubCatId.value =="") {
				if (ItemName.value == "") { ItemName.style.border = "0.5px solid #ff00005c"; }
				if (ItemCode.value == "") { ItemCode.style.border = "0.5px solid #ff00005c"; }
				if (Description.value == "") { Description.style.border = "0.5px solid #ff00005c"; }
				if (CategoryId.value == "") { CategoryId.style.border = "0.5px solid #ff00005c"; }
				if (SubCatId.value == "") { SubCatId.style.border = "0.5px solid #ff00005c"; }
				Swal.fire({
					position: "center",
					icon: "error",
					title: "Please fill up all required fields.",
					showConfirmButton: false,
					timer: 2000
				});
				return "YES";
			} else {
				return "NO"
			}
		}
	function PhotoPreview() {
			const PhotoPreview = document.getElementById('PhotoPreview');
			const file = document.getElementById('Photo').files[0];
			if (file) {
				var maxFileSize = 512000; //in bytes
				if (file.size <= maxFileSize) {

					PhotoPreview.innerHTML = '';
					const reader = new FileReader();
					reader.onload = function (e) {
						const img = document.createElement('img');
						img.src = e.target.result;
						img.alt = 'Uploaded Image';
						img.style.maxWidth = '5rem';
						img.style.maxHeight = '6rem';
						img.style.objectFit = 'contain'
						PhotoPreview.appendChild(img);
					};
					reader.readAsDataURL(file);
				}
				else {
					Swal.fire({
						text: "The file size should be around 500KB.",
						icon: "error"
					});
					document.getElementById('Photo').value = "";
				}
			}
		}

</script>


