@model WebApp.Areas.Admin.Models.AdminViewModel;

<div class="contentSticky">
	<div class="table-sticky Content_cScroll" style="height:45vh">
		<table class="table table-bordered table-striped table-hover">
			<thead>
				<tr class="sticky">
					<th>SL</th>
					<th>Image</th></>
					<th>Name</th>
					<th>C.Person</th>
					<th>Email</th>
					<th>Photo</th>
					<th>IsActive</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				@{
					int i = 1;
				}
				@foreach (var client in Model.ClientList)
				{
					<tr>
						<td class="text-center">@i</td>
						<td class="text-center">
							<img style="width:2rem;height:2rem;object-fit:cover" src="@( client != null && !string.IsNullOrEmpty(client.PhotoUrl)? Url.Content("~/" + client.PhotoUrl): Url.Content("~/Admin/img/avator.png"))" alt="User Image" />
						</td>
						<td>@client.Name</td>
						<td>@client.ContactPerson</td>
						<td>@client.Email</td>
						<td>@client.Phone</td>
						<td class="text-center" style="color:@(client.IsActive ? "green" : "red")">
							@client.IsActive
						</td>
						<td class="text-center">
							<button class="btn btn-sm btn-primary" onclick="GetHdrPView(@client.ID)">View</button>
							<button class="btn btn-sm btn-danger" onclick="
								Swal.fire({
								title: 'Are you sure?' ,
								text: 'Do you want to delete this Client?' ,
								icon: 'warning' ,
								showCancelButton: true,
								confirmButtonColor: '#d33' ,
								cancelButtonColor: '#3085d6' ,
								confirmButtonText: 'Yes, delete it!' ,
								cancelButtonText: 'Cancel'
								}).then((result)=>
							{
							if (result.isConfirmed) {
							ClientDelete(@client.ID);
							}
							});
								">Delete
							</button>

						</td>
					</tr>
					i++;
				}
			</tbody>
		</table>
	</div>
</div>