@model WebApp.Areas.Admin.Models.AdminViewModel;
@{
	ViewData["Title"] = "Client Create";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h5 class="PgTitle">Clients:</h5>
<h5 class="alert-success">@ViewBag.Success</h5>
<h5 class="alert-danger">@ViewBag.Error</h5>
<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body" id="HdrPView">
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body" id="DetPView">
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	document.addEventListener('DOMContentLoaded',function(){
		GetHdrPView();
	})
	function GetHdrPView(ID) {
		Swal.fire({
			position: "center",
			html: '<i class="fa fa-spinner fa-spin" style="font-size: 2em;margin-top: 0.8em"></i><br><br>',
			showConfirmButton: false,
			allowOutsideClick: false,
			allowEscapeKey: false,
		});
		$.ajax({
			url: '@Url.Action("GetClientHdrPView", "Client")',
			type: 'GET',
			data: { ID: ID },
			success: function (html) {
				 $("#HdrPView").html("");
				 $("#HdrPView").html(html);
				 GetDetPView();
			},
			error: function (error) {
				console.log(error);
				if (error.status === 401) location.href = '/SPanel1325/Login';
				console.log("Error Get Client Hdr PView");
				Swal.close();
			}
		});
	}
	function GetDetPView(ID) {
		Swal.fire({
			position: "center",
			html: '<i class="fa fa-spinner fa-spin" style="font-size: 2em;margin-top: 0.8em"></i><br><br>',
			showConfirmButton: false,
			allowOutsideClick: false,
			allowEscapeKey: false,
		});
		$.ajax({
			url: '@Url.Action("GetClientDetPView", "Client")',
			type: 'GET',
			data: { ID: ID },
			success: function (html) {
				 $("#DetPView").html("");
				 $("#DetPView").html(html);
				 Swal.close();
			},
			error: function (error) {
				if (error.status === 401) location.href = '/SPanel1325/Login';
				console.log("Error Get Client det PView");
				Swal.close();
			}
		});
	}
	function ClientSetUpdate() {
		var ImageFile = $("#Photo")[0].files[0];
		var formData = new FormData();
		if (ImageFile) {
			formData.append("ImageFile", ImageFile);
		}
		var otherData = $('#ClientSetUpdateForm').serializeArray();
		$.each(otherData, function (index, item) {
			formData.append(item.name, item.value);
		});
		var IsRequired = CheckRequiredField();
		if (IsRequired == "NO") {
			Swal.fire({
				position: "center",
				html: '<i class="fa fa-spinner fa-spin" style="font-size: 2em;margin-top: 0.8em"></i><br><br>',
				showConfirmButton: false,
				allowOutsideClick: false,
				allowEscapeKey: false,
			});
			$.ajax({
				url: '@Url.Action("ClientSetUpdate", "Client")',
				type: 'POST',
				data: formData,
				contentType: false, // Important for FormData
				processData: false, // Important for FormData
				success: function (result) {
					Swal.close();
					if (result == 0) {
						Swal.fire({
							position: "center",
							icon: "error",
							title: "Client not inserted successfully..",
							showConfirmButton: false,
							timer: 2000
						});
					}else if(result == -1){
						Swal.fire({
							position: "center",
							icon: "error",
							title: "Client name already taken. Please choose another name..",
							showConfirmButton: false,
							timer: 2000
						});
					}

					else {
						Swal.fire({
							position: "center",
							icon: "success",
							title: "Client inserted successfully..",
							showConfirmButton: false,
							timer: 2000
						});
						setTimeout(function () {
							GetDetPView();
							GetHdrPView();
						}, 2000)
					}
				},
				error: function (error) {
					if (error.status === 401) location.href = '/SPanel1325/Login';
					console.log(error);
					Swal.close();
				}
			});
		}
	}
	function CheckRequiredField() {
		var Name = document.getElementById("Name");
		var ContactPerson = document.getElementById("ContactPerson");
		var Email = document.getElementById("Email");
		var Phone = document.getElementById("Phone");
		var Website = document.getElementById("Website");
		var Address = document.getElementById("Address");
		if (Name.value ==""|| ContactPerson.value =="" || Email.value=="" || Phone.value=="" || Website.value ==""|| Address.value=="" ) {
			if (Name.value == "") { Name.style.border = "0.5px solid #ff00005c"; }
			if (ContactPerson.value == "") { ContactPerson.style.border = "0.5px solid #ff00005c"; }
			if (Email.value == "") { Email.style.border = "0.5px solid #ff00005c"; }
			if (Phone.value == "") { Phone.style.border = "0.5px solid #ff00005c"; }
			if (Website.value == "") { Website.style.border = "0.5px solid #ff00005c"; }
			if (Address.value == "") { Address.style.border = "0.5px solid #ff00005c"; }

			Swal.fire({
				position: "center",
				icon: "error",
				title: "Please fill up all required fields.",
				showConfirmButton: false,
				timer: 2000
			});
			return "YES";
		} else {
			return "NO"
		}
	}
	function ClientDelete(ID){
		$.ajax({
			url: '@Url.Action("ClientDelete", "Client")',
			type: 'POST',
			data: {ID:ID},
			success: function (result) {
				Swal.close();
				if (result == 0) {
					Swal.fire({
						position: "center",
						icon: "error",
						title: "Client Not Deleted.",
						showConfirmButton: false,
						timer: 2000
					});
				}
				else {
					Swal.fire({
						position: "center",
						icon: "success",
						title: "Client Deleted!",
						showConfirmButton: false,
						timer: 2000
					});
					setTimeout(function () {
						GetDetPView();
						GetHdrPView();
					}, 2000)
				}
			},
			error: function (error) {
			if (error.status === 401) loCliention.href = '/SPanel1325/Login';
				console.log(error);
				Swal.close();
			}
		});
	}
	function PhotoPreview() {
		const PhotoPreview = document.getElementById('PhotoPreview');
		const file = document.getElementById('Photo').files[0];
		if (file) {
			var maxFileSize = 512000; //in bytes
			if (file.size <= maxFileSize) {

				PhotoPreview.innerHTML = '';
				const reader = new FileReader();
				reader.onload = function (e) {
					const img = document.createElement('img');
					img.src = e.target.result;
					img.alt = 'Uploaded Image';
					img.style.maxWidth = '5rem';
					img.style.maxHeight = '6rem';
					img.style.objectFit = 'contain'
					PhotoPreview.appendChild(img);
				};
				reader.readAsDataURL(file);
			}
			else {
				Swal.fire({
					text: "The file size should be around 500KB.",
					icon: "error"
				});
				document.getElementById('Photo').value = "";
			}
		}
	}

</script>


