@model WebApp.Areas.Client.Models.ClientViewModel;
@using WebApp.Areas.Client.Data
@* @using WebApp.Areas.Admin.Data *@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
	HomeData _homeData = new HomeData();
	CustomerData _customerData = new CustomerData();
	ProductViewData _productViewData = new ProductViewData();
	var CompanyInfo = _homeData.GetCompanyInfo();
	var Category = _productViewData.GetCategoryList();
	var customerId = HttpContextAccessor?.HttpContext?.Session.GetString("CustomerID");
	var customerData = _customerData.GetCustomer(null, Convert.ToInt32(customerId));
	var customerName = customerData.Name;
	var customerPhoto = customerData.PhotoUrl;
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - @CompanyInfo.CompanyCode</title>
	<link rel="shortcut icon" href="@(CompanyInfo.PhotoUrl)">
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Poppins" rel="stylesheet">
	<!-- Bootstrap core CSS -->
	<link href="~/Client/css/bootstrap.min.css" rel="stylesheet">

	<!-- Magnificpopup Css -->
	<link rel="stylesheet" type="text/css" href="~/Client/css/magnific-popup.css">

	<!-- Bootstrap core CSS -->
	<link href="~/Client/css/materialdesignicons.min.css" rel="stylesheet">
	<link href="~/Client/css/fontawesome.css" rel="stylesheet">
	<link href="~/Client/css/pe-icon-7-stroke.css" rel="stylesheet">

	<!--Slider-->
	<link rel="stylesheet" href="~/Client/css/owl.carousel.min.css" />
	<link rel="stylesheet" href="~/Client/css/owl.theme.css" />
	<link rel="stylesheet" href="~/Client/css/owl.transitions.css" />
	<link rel="stylesheet" href="~/Client/css/slick.css" />
	<link rel="stylesheet" href="~/Client/css/slick-theme.css" />

	<!-- Custom styles for this template -->
	<link href="~/Client/css/style.css" rel="stylesheet">
	<link href="~/Client/css/menu.css" rel="stylesheet">
	<link href="~/Client/css/default.css" rel="stylesheet">
	<link href="~/client/css/customclient.css" rel="stylesheet" />

</head>
<body>
	<!-- Loader -->
	@*     <div id="preloader">
        <div id="status">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
    </div> *@
	<!-- Navigation Bar-->
	<div class="tagline hidden-md">
		<div class="container">
			<div class="float-left">
				<div class="phone">
					<i class="fas fa-phone"></i> @CompanyInfo.Phone
				</div>
			</div>
			<div class="float-right">
				<ul class="top_socials">
					<li><a target="_blank" href="@(CompanyInfo.FacebookUrl)"><i class="fab fa-facebook-f"></i></a></li>
					<li><a target="_blank" href="@(CompanyInfo.TwitterUrl)"><i class="fab fa-twitter"></i></a></li>
					<li><a target="_blank" href="@(CompanyInfo.LinkedInUrl)"><i class="fab fa-linkedin"></i></a></li>
					<li><a target="_blank" href="@(CompanyInfo.YouTubeUrl)"><i class="fab fa-youtube"></i></a></li>
				</ul>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<!-- Navigation Bar-->
	<header id="topnav" class="defaultscroll fixed-top navbar-sticky sticky">
		<div class="container">
			<!-- Logo container-->
			<div>
				<a asp-controller="Home" asp-action="Index" class="logo">
					@* <img src="images/logo.png" alt="missing_logo" height="20"> *@
					<h3 style="margin-top:0.7rem" height="20">RMAT</h3>
				</a>
			</div>

			<!-- End Logo container-->
			<div class="menu-extras">
				<div class="menu-item" style="display:flex;justify-content:center;align-items:center">
					<a asp-controller="Home" asp-action="Cart" class="cartCountTgl" style="font-size:1rem;margin-right:1.6rem;color:#535353"><i class="mdi mdi-cart"></i><strong class="cartCount"></strong></a>
					<!-- Mobile menu toggle-->
					<a class="navbar-toggle">
						<div class="lines">
							<span></span>
							<span></span>
							<span></span>
						</div>
					</a>
					<!-- End mobile menu toggle-->
				</div>
			</div>
			<div id="navigation">
				<!-- Navigation Menu-->
				<ul class="navigation-menu">
					<li class="has-submenu">
						<a asp-controller="Home" asp-action="Index">Home</a>
					</li>
					<li class="has-submenu">
						<a asp-controller="Home" asp-action="About">About</a>
					</li>
					<li class="has-submenu">
						<a href="javascript:void(0)">Product</a>
						<span class="menu-arrow"></span>
						<ul class="submenu">
							@if (Category != null && Category.Any())
							{
								foreach (var item in Category)
								{
									<li><a asp-controller="Home" asp-action="Product" asp-route-CatId="@item.ID">@item.Name</a></li>
								}
							}
						</ul>
					</li>
					<li class="has-submenu">
						<a asp-controller="Home" asp-action="Service">Service</a>
					</li>
					<li class="has-submenu">
						<a asp-controller="Home" asp-action="Client">Client</a>
					</li>
					<li class="has-submenu">
						<a asp-controller="Home" asp-action="Contact">Contact</a>
					</li>
					<li class="dropdown d-none d-md-inline-block">
						<a class="nav-link dropdown-toggle arrow-none" data-toggle="dropdown" href="#" role="button"
						   aria-haspopup="false" aria-expanded="false">
							<i class="fas fa-search noti-icon"></i>
						</a>
						<div class="dropdown-menu dropdown-menu-right dropdown-menu-search">
							<div>
								<form role="search" class="navbar-form">
									<input type="text" placeholder="Search..." name="s" class="form-control search-bar">
									<a href="#" class="btn-search"><i class="fa fa-search"></i></a>
								</form>
							</div>

						</div>
					</li>
					<li class="has-submenu d-none d-md-inline-block">
						<a asp-controller="Home" asp-action="Cart" style="font-size:1rem"><i class="mdi mdi-cart"></i><strong class="cartCount"></strong></a>
					</li>
					@if (customerId == null)
					{
						<li class="has-submenu">
							<a asp-controller="Cstmr" asp-action="SignIn"><i class="mdi mdi-login"></i>Sign In</a>
						</li>
					}
					else
					{
						<li class="has-submenu">
							<a href="javascript:void(0)" class="signImg"><img src="@(string.IsNullOrEmpty(customerPhoto) ? "/client/img/default/avator.png":Url.Content(customerPhoto))" /></a>
							<span class="menu-arrow"></span>
							<ul class="submenu">
								<li style="padding-left: 0.5rem;border-bottom: 1px solid lightgray;">@customerName</li>
								<li><a asp-controller="Cstmr" asp-action="Profile">Profile</a></li>
								<li><a asp-controller="Cstmr" asp-action="SignOut">Sign Out</a></li>
							</ul>
						</li>
					}
				</ul>
				<!-- End navigation menu-->
			</div>
		</div>
	</header>
	<!-- End Navigation Bar-->
	<div class="">
		<main role="main" class="">
			@RenderBody()
		</main>
	</div>

	<!-- FOOTER START -->
	<footer class="footer">
		<div class="section-two">
			<div class="container">
				<!--Footer Info -->
				<div class="row footer-info">
					<div class="col-lg-3 col-md-12 col-sm-12">
						<div class="">
							<a asp-controller="Home" asp-action="Index" class="logo">
								<img src="@Url.Content(CompanyInfo.PhotoUrl)" alt="missing_logo" height="40">
								<h5>@CompanyInfo.CompanyCode</h5>
							</a>
						</div>
						<p class="text-footer-clr mt-3">@CompanyInfo.Description</p>
						<div>
							<ul class="list-unstyled social-icon">
								<li class="list-inline-item"><a target="_blank" href="@(CompanyInfo.FacebookUrl)"><i class="fab fa-facebook-f"></i></a></li>
								<li class="list-inline-item"><a target="_blank" href="@(CompanyInfo.TwitterUrl)"><i class="fab fa-twitter"></i></a></li>
								<li class="list-inline-item"><a target="_blank" href="@(CompanyInfo.LinkedInUrl)"><i class="fab fa-linkedin"></i></a></li>
								<li class="list-inline-item"><a target="_blank" href="@(CompanyInfo.YouTubeUrl)"><i class="fab fa-youtube"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-2 col-md-4 col-sm-4">
						@* <div class="footer-head">
                            <h5 class="text-light">Company</h5>
                        </div> *@
						<div class="footer-item mt-3">
							<ul class="list-unstyled">
								<li><a asp-controller="Home" asp-action="Index"><i class="fas fa-chevron-right mr-2"></i> Home</a></li>
								<li><a asp-controller="Home" asp-action="About"><i class="fas fa-chevron-right mr-2"></i> About</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-2 col-md-4 col-sm-4">
						<div class="footer-item mt-3">
							<ul class="list-unstyled">
								<li><a href="#"><i class="fas fa-chevron-right mr-2"></i>Software</a></li>
								<li><a href="#"><i class="fas fa-chevron-right mr-2"></i>hardware</a></li>
								<li><a href="#"><i class="fas fa-chevron-right mr-2"></i>Service</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-2 col-md-4 col-sm-4">

						<div class="footer-item mt-3">
							<ul class="list-unstyled">
								<li><a href="#"><i class="fas fa-chevron-right mr-2"></i>Client</a></li>
								<li><a asp-controller="Home" asp-action="Contact"><i class="fas fa-chevron-right mr-2"></i>Contact us</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-12">
						<div class="footer-head">
							<h5 class="text-light">Newsletter</h5>
						</div>
						<div class="footer-news mt-3">
							<p class="text-footer-clr">Subscribe to our email newsletter to receive useful articles and special offers.</p>
							<div class="subscribed-form">
								<div class="subcribed-form">
									@using (Html.BeginForm("Subscripbe", "Home", new { id = "SubscribeSetForm", enctype = "multipart/form-data" }))
									{
										<input name="email" type="email" placeholder="Your Email" id="sbEmail" required="">
										<button type="button" class="" onclick="SubscribeSet()"><span class="fab fa-telegram-plane"></span></button>
									}
									<div id="footerMsg" style="color:white;font:bold"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Footer Info -->
			</div>
		</div>
		<hr>

		<!-- Copyright Bar -->
		<section class="section-30">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-12">
						<div class="text-center">
							<p class="copy-rights text-white mb-0">&copy; @DateTime.Now.Year - This site is reserved by <a href="#" target="_blank">RMAT</a></p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Copyright Bar -->
	</footer>
	<!-- FOOTER END -->
	<!-- Back to top -->
	<a href="#" class="back-to-top" id="back-to-top">
		<i class="mdi mdi-chevron-up"> </i>
	</a>
	<!-- Back to top -->
	<!-- js placed at the end of the document so the pages load faster -->
	<script src="~/Client/js/jquery.min.js" type="text/javascript"></script>
	<script src="~/Client/js/popper.min.js" type="text/javascript"></script>
	<script src="~/Client/js/bootstrap.min.js" type="text/javascript"></script>
	<!-- Portfolio -->
	<script src="~/Client/js/jquery.magnific-popup.min.js" type="text/javascript"></script>
	<script src="~/Client/js/isotope.js" type="text/javascript"></script>
	<script src="~/Client/js/portfolio-filter.js" type="text/javascript"></script>
	<!-- Carousel -->
	<script src="~/Client/js/owl.carousel.min.js" type="text/javascript"></script>
	<script src="~/Client/js/owlcarousel.init.js" type="text/javascript"></script>
	<script src="~/Client/js/slick.min.js" type="text/javascript"></script>
	<script src="~/Client/js/slick.init.js" type="text/javascript"></script>
	<!-- Typed -->
	<script src="~/Client/js/typed.js" type="text/javascript"></script>
	<script src="~/Client/js/typed.init.js" type="text/javascript"></script>
	<!-- VIDEO ICON -->
	<script src="~/Client/js/magnific.init.js" type="text/javascript"></script>
	<!-- COUNTER -->
	@*  <script src="~/js/counter.init.js" type="text/javascript"></script> *@
	<!--custom script-->
	<script src="~/Client/js/app.js"></script>
	@await RenderSectionAsync("Scripts", required: false)
	<script type="text/javascript">
		function SubscribeSet() {
				var Email = document.getElementById("sbEmail").value;
				var IsRequired = CheckRequiredFieldSubscribe();
				if (IsRequired == "NO") {
					$.ajax({
						url: '@Url.Action("SubscribeSet", "Home")',
						type: 'POST',
						data: {Email:Email},
						success: function (result) {
							if (result == 0) {
								var msg = document.getElementById("footerMsg");
								msg.innerText="";
								msg.innerText = "Subscription failed."
							}
							else {
								var msg = document.getElementById("footerMsg");
								msg.innerText="";
								msg.innerText = "Thank you for subscribing! Our team will contact you shortly."
								document.getElementById("Email").value = "";

							}
						},
						error: function (error) {
							console.log(error);
						}
					});
				}
			}
		function CheckRequiredFieldSubscribe() {
				var Email = document.getElementById("sbEmail");
				if (Email.value == "") {
					if (Email.value == "") { Email.style.border = "2px solid #ff00005c"; }

					var msg = document.getElementById("footerMsg");
					msg.innerText="";
					msg.innerText = "Enter your email to continue."
						return "YES";
				} else {
					return "NO"
				}
			}

		document.getElementById("sbEmail").onchange = function () { this.style.border = "0.5px solid #dee2e6"; };

		document.addEventListener("DOMContentLoaded", () => {
			const cart = JSON.parse(localStorage.getItem("cd_temp")) || [];
			const count = cart.reduce((total, item) => total + item.qty, 0);
			if(count !=0){
				document.querySelectorAll(".cartCount").forEach(el => {
				el.innerText = count;
			});
			}

		});
	</script>
</body>
</html>
