@model WebApp.Areas.Admin.Models.AdminViewModel;
@{
    ViewData["Title"] = "Team Member Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h5 class="PgTitle">TeamMember:</h5>
<h5 class="alert-success">@ViewBag.Success</h5>
<h5 class="alert-danger">@ViewBag.Error</h5>
<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body" id="HdrPView">
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body" id="DetPView">
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
		   document.addEventListener('DOMContentLoaded',function(){
			   GetHdrPView();
		   })
		function GetHdrPView(ID) {
			Swal.fire({
				position: "center",
				html: '<i class="fa fa-spinner fa-spin" style="font-size: 2em;margin-top: 0.8em"></i><br><br>',
				showConfirmButton: false,
				allowOutsideClick: false,
				allowEscapeKey: false,
			});
			$.ajax({
				url: '@Url.Action("GetTeamMemberHdrPView", "TeamMember")',
				type: 'GET',
				data: { ID: ID },
				success: function (html) {
					 $("#HdrPView").html("");
					 $("#HdrPView").html(html);
					 GetDetPView();
				},
				error: function (error) {
					if (error.status === 401) loTeamMemberion.href = '/SPanel1325/Login';
					console.log("Error Get TeamMember Hdr PView");
					Swal.close();
				}
			});
		}
		function GetDetPView() {
			Swal.fire({
				position: "center",
				html: '<i class="fa fa-spinner fa-spin" style="font-size: 2em;margin-top: 0.8em"></i><br><br>',
				showConfirmButton: false,
				allowOutsideClick: false,
				allowEscapeKey: false,
			});
			$.ajax({
				url: '@Url.Action("GetTeamMemberDetPView", "TeamMember")',
				type: 'GET',
				success: function (html) {
					 $("#DetPView").html("");
					 $("#DetPView").html(html);
					 Swal.close();
				},
				error: function (error) {
					if (error.status === 401) loTeamMemberion.href = '/SPanel1325/Login';
					console.log("Error Get TeamMember det PView");
					Swal.close();
				}
			});
		}
		function TeamMemberSetUpdate() {
			var ImageFile = $("#Photo")[0].files[0];
			var formData = new FormData();
			if (ImageFile) {
				formData.append("ImageFile", ImageFile);
			}
			var otherData = $('#TeamMemberSetUpdateForm').serializeArray();
			$.each(otherData, function (index, item) {
				formData.append(item.name, item.value);
			});
			var IsRequired = CheckRequiredField();
			if (IsRequired == "NO") {
				Swal.fire({
					position: "center",
					html: '<i class="fa fa-spinner fa-spin" style="font-size: 2em;margin-top: 0.8em"></i><br><br>',
					showConfirmButton: false,
					allowOutsideClick: false,
					allowEscapeKey: false,
				});
				$.ajax({
					url: '@Url.Action("TeamMemberSetUpdate", "TeamMember")',
					type: 'POST',
					data: formData,
					contentType: false, // Important for FormData
					processData: false, // Important for FormData
					success: function (result) {
						Swal.close();
						if (result == 0) {
							Swal.fire({
								position: "center",
								icon: "error",
								title: "TeamMember Not Inserted.",
								showConfirmButton: false,
								timer: 2000
							});
						}
						else {
							Swal.fire({
								position: "center",
								icon: "success",
								title: "TeamMember Inserted!",
								showConfirmButton: false,
								timer: 2000
							});
							setTimeout(function () {
								GetDetPView();
								GetHdrPView();
							}, 2000)
						}
					},
					error: function (error) {
					if (error.status === 401) loTeamMemberion.href = '/SPanel1325/Login';
						console.log(error);
						Swal.close();
					}
				});
			}
		}
	function TeamMemberDelete(ID){
		$.ajax({
			url: '@Url.Action("TeamMemberDelete", "TeamMember")',
			type: 'POST',
			data: {ID:ID},
			success: function (result) {
				Swal.close();
				if (result == 0) {
					Swal.fire({
						position: "center",
						icon: "error",
						title: "TeamMember Not Deleted.",
						showConfirmButton: false,
						timer: 2000
					});
				}
				else {
					Swal.fire({
						position: "center",
						icon: "success",
						title: "TeamMember Deleted!",
						showConfirmButton: false,
						timer: 2000
					});
					setTimeout(function () {
						GetDetPView();
						GetHdrPView();
					}, 2000)
				}
			},
			error: function (error) {
			if (error.status === 401) loTeamMemberion.href = '/SPanel1325/Login';
				console.log(error);
				Swal.close();
			}
		});
	}
		function CheckRequiredField() {
			var Name = document.getElementById("Name");
			var Designation = document.getElementById("Designation");
			var Email = document.getElementById("Email");
			var Phone = document.getElementById("Phone");
			if (Name.value == "" || Designation.value == "" || Email.value==""|| Phone.value=="") {
				if (Name.value == "") { Name.style.border = "0.5px solid #ff00005c"; }
				if (Designation.value == "") { Designation.style.border = "0.5px solid #ff00005c"; }
				if (Email.value == "") { Email.style.border = "0.5px solid #ff00005c"; }
				if (Phone.value == "") { Phone.style.border = "0.5px solid #ff00005c"; }


				Swal.fire({
					position: "center",
					icon: "error",
					title: "Please fill up all required fields.",
					showConfirmButton: false,
					timer: 2000
				});
				return "YES";
			} else {
				return "NO"
			}
		}
		function PhotoPreview() {
			const PhotoPreview = document.getElementById('PhotoPreview');
			const file = document.getElementById('Photo').files[0];
			if (file) {
				var maxFileSize = 512000; //in bytes
				if (file.size <= maxFileSize) {

					PhotoPreview.innerHTML = '';
					const reader = new FileReader();
					reader.onload = function (e) {
						const img = document.createElement('img');
						img.src = e.target.result;
						img.alt = 'Uploaded Image';
						img.style.maxWidth = '5rem';
						img.style.maxHeight = '6rem';
						img.style.objectFit = 'contain'
						PhotoPreview.appendChild(img);
					};
					reader.readAsDataURL(file);
				}
				else {
					Swal.fire({
						text: "The file size should be around 500KB.",
						icon: "error"
					});
					document.getElementById('Photo').value = "";
				}
			}
		}

</script>
